body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: grayscale(1);
    height: 100vh;
    color: white;
}

body::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5e6175a1;
    z-index: -1;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 10rem;
}

    label {
        margin-top: 2rem;
        text-align: left;
        width: 100%;
    }

    input {
        width: 100%;
        padding: 0.8rem;
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
    }

    button {
        margin-top: 4rem;
        height: 3rem;
        border: none;
        background-color: var(--verde);
        color: white;
        border: 1px solid white;
        border-radius: 1.5rem;
        width: 60%;
    }

@media (min-width: 1025px) {
    body {
        font-size: 14px;
    }

    h1 {
        margin-top: 3.5rem;
    }

    form {
        width: 35%;
    }
}