header {
    width: 100%;
    background-color: var(--verde);
    color: white;
}

.nome {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
}

    .nome .imgAvatar {
        font-size: 2rem;
        margin-right: 1rem;
    }

    .nome h1 {
        margin: 0;
    }

    .nome .informacoes {
        display: flex;
        flex-direction: column;
    }


main {
    background-color: white;
    margin-top: -1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.legenda {
    font-size: 0.8rem;
    color: var(--cinza3);
    margin-top: 1rem;
}

.caixa {
    display: flex;
}

.caixa h1 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
}

    .caixa h1 i {
        color: var(--verde);
    }


/* -------- Dados gerais sobre o IPTU -------- */
.caixa.dados_iptu {
    flex-direction: column;
    gap: 0.5rem;
}

    .caixa.dados_iptu span span {
        font-weight: 500;
        font-size: 1.3rem;
    }


    .caixa.dados_iptu hr {
        border-top: 1px solid var(--cinza2);
        width: 100%;
    }


/* -------- Minhas propriedades -------- */
#propriedades .caixa {
    flex-direction: column;
    gap: 1.5rem;
}

    #propriedades .titulo {
        display: flex;
        gap: 1rem;
    }

    #propriedades .titulo .imagem {
        width: 6rem;
        height: 6rem;
        border-radius: 0.6rem;
        overflow: hidden;
    }

        #propriedades .titulo .imagem img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    #propriedades .caixa .titulo span {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: var(--cinza3);
    }

    #propriedades .caixa h2 {
        font-weight: normal;
        margin: 0;
    }

    #propriedades .caixa h3 {
        font-weight: normal;
        margin: 0;
    }

    #propriedades h4 {
        margin: 0;
    }

    #propriedades .informacoes span {
        margin-bottom: 1rem;
    }

    #propriedades .link {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem 0.5rem 0 0;
        box-sizing: border-box;
        border-top: 1px solid var(--cinza2);
        color: var(--cinza3);
    }