@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde: #12cd72;
    --verde2: #bbe6d1;
    --verde3: #6db492;
    --cinza1: #fafafa;
    --cinza2: #eaeaea;
    --cinza3: #a8a9b1;
    --cinza4: #2a2a2a;
}

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: var(--verde);
    color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 1rem 2rem 1rem;
}

    .nome {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .nome .imgAvatar {
            font-size: 2rem;
            margin-right: 1rem;
        }

        .nome h1 {
            margin: 0;
            font-size: 1.1rem;
        }

    #xp {
        margin-left: auto;
    }


/* Conteúdo */
main {
    background-color: white;
    margin-top: -1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.espacoFinal {
    height: 5rem;
}

/* Estilos globais */
.none {
    display: none !important;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Barra inferior */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    height: 4rem;
    background-color: white;
    display: flex;
    border-top: 1px solid var(--cinza3);
}

footer a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cinza3);
    text-decoration: none;
    font-size: 1.2rem;
}

    footer a.selecionado {
        color: black;
        font-size: 1.3rem;
    }

/* Popup */
.popup {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

    .popup::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: #383a3e1f;
        z-index: -1;
    }

    .popup .mensagem {
        border-radius: 10px;
        background-color: white;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .popup .mensagem h3 {
        margin: 0 0 1rem 0;
    }

        .popup .mensagem button {
        background-color: var(--verde);
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin-top: 0.5rem;
    }

    .icon_fechar_popup {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        font-size: 1.3rem;
        color: var(--cinza3);
        cursor: pointer;
    }


/* Versão computador */
@media (min-width: 1025px) {
    main {
        padding: 1rem 25%;
    }
}