/* .legenda {
    font-size: 0.8rem;
    color: var(--cinza3);
    margin-top: 1rem;
} */

h2 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0.9rem 0 0.3rem 0.2rem;
}

    h2 i {
        color: var(--verde);
    }

.caixa {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: var(--cinza1);
    border: 1px solid var(--cinza2);
    border-radius: 8px;
    padding: 1rem;
}

    .caixa h3 {
        margin: 0;
        display: inline;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .caixa span {
        font-size: 0.9rem;
    }

/* ----------------------- NOVO */
.acessoRapido {
    display: flex;
    gap: 1rem;
}

.tarefas {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.tarefa {
    display: flex;
    align-items: center;
    gap: 1rem;
}

    .tarefa .checkbox {
        border: 1px solid var(--cinza3);
        width: 1.5rem;
        height: 1.5rem;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .tarefa .cartao {
        flex: 1;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid var(--cinza2);
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 1rem;
        gap: 0.5rem;
    }

        .tarefa .icon {
            font-size: 1.1rem;
        }

        .tarefa .xp {
            color: var(--cinza3);
            font-size: 0.8rem;
            margin-left: auto;
        }

/* .tarefa.concluida {
    order: 1;
} */

    .tarefa.concluida .checkbox {
        border-color: var(--cinza2);
        background-color: var(--cinza2);
        color: var(--cinza3);
        font-size: 0.7rem;
    }

    .tarefa.concluida .cartao {
        background-color: var(--cinza2);
    }

    .tarefa.concluida span {
        color: var(--cinza3);
        /* font-style: italic; */
        text-decoration: line-through;
    }

    .tarefa.concluida .icon {
        opacity: 0.5;
    }


/* -------- Dados gerais sobre o IPTU -------- */
/* .caixa.dados_iptu {
    flex-direction: column;
    gap: 0.5rem;
}

    .caixa.dados_iptu div {
        display: flex;
        flex-direction: column;
    }

    .caixa.dados_iptu span span {
        font-weight: 500;
        font-size: 1.3rem;
    }


    .caixa.dados_iptu hr {
        border-top: 1px solid var(--cinza2);
        width: 100%;
    } */


/* -------- Minhas propriedades -------- */
/* #propriedades .caixa {
    flex-direction: column;
    gap: 1.5rem;
}

    #propriedades .opcoes {
        display: flex;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--cinza2);
    }

        #propriedades .status {
            color: #366fac;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
        }

            #propriedades .status i {
                font-size: 0.9rem;
                line-height: 0.9rem;
                margin-top: 0.1rem;
            }

        #propriedades .icones_opcoes {
            margin-left: auto;
            color: var(--cinza3);
            display: flex;
            gap: 0.6rem;
        }

            #propriedades .icones_opcoes div {
                height: 1.6rem;
                width: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

                #propriedades .icones_opcoes i {
                    font-size: 1rem;
                    line-height: 1rem;
                }

    #propriedades .titulo {
        display: flex;
        gap: 1rem;
    }

    #propriedades .titulo .imagem {
        width: 5rem;
        height: 5rem;
        border-radius: 0.6rem;
        overflow: hidden;
    }

        #propriedades .titulo .imagem img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    #propriedades .caixa .titulo span {
        display: flex;
        gap: 0.3rem;
        align-items: center;
        color: var(--cinza3);
        font-size: 0.9rem;
    }

    #propriedades .caixa h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    #propriedades .caixa h3 {
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0;
    }

    #propriedades h4 {
        margin: 0;
    }

    #propriedades .informacoes .espaco {
        margin-top: 1rem;
    }

    #propriedades .informacoes h4 {
        font-weight: 600;
    }

    #propriedades .informacoes span {
        margin-bottom: 1rem;
    }

    #propriedades .dados {
        display: flex;
        gap: 1rem;
    }

        #propriedades .dados div {
            flex: 1;
            background-color: rgb(221, 255, 218);
            text-align: center;
            color: var(--verde);
            padding: 1.5rem 1rem;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        #propriedades .dados h5 {
            font-size: 1.7rem;
            font-weight: normal;
            margin: 0;
        } */




/* -------- Estilos animados -------- */
.hover_scale {
    transition: all 0.5s ease;
}

.hover_scale:hover {
    transform: scale(1.02);
}


/* POPUP */
#popup_login .mensagem input {
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    margin-bottom: 1rem;
    border-radius: 10px;
}




/* Estilos PC ocultos */

    /* .caixa.dados_iptu {
        flex-direction: row;
        gap: 1.5rem;
    }

        .caixa.dados_iptu div {
            width: 50%;
        }

        .caixa.dados_iptu hr {
            width: 1px;
            border: none;
            border-left: 1px solid var(--cinza2);
        }

    #propriedades {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    #propriedades .caixa {
        margin: 0;
    }

        #propriedades .caixa .titulo span {
        font-size: 0.7rem;
    }

    #propriedades .caixa h2 {
        font-size: 1.1rem;
    }

    #propriedades .caixa h3 {
        font-size: 0.9rem;
    } */